body{
    background-color: lightgrey;
}
#trivia-panel{
    width: 80%;
    background-color:#f7db5d;
    height:auto;
    margin-top:15px;
    margin-left:10%;
    padding-bottom:100px;
}
#title-bar{
    position: relative;
    width:100%;
    top:50px;
    font-size: 56px;
    text-align: center;
    margin:0px;
}
#content-block{
    height:auto;
}
#start-game-block{
    width:100%;
    position: relative;
    top:75px;
}
#start-game-banner{
    width:60%;
    font-size:24px;
    margin-left:20%;
    border:2px solid blue;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 15px;
}
#game-over-block{
    position: relative;
    top:100px;
    width:60%;
    font-size:24px;
    margin-left:20%;
    text-align: center;
    
}

#question-block{
    background-color: yellowgreen; 
    position:relative;
    top:50px;
    width:98%;
    margin-left:1%;
    font-size:24px;
    text-align: center;
    border-radius: 15px;
}

#question-banner{
    margin-bottom:25px;
    margin-top:25px;
}
.answer{
    margin-bottom:5px;
    width:60%;
    margin-left:20%;
}
.answer:hover{
    border:2px solid blue;
    background-color: whitesmoke;
}
#correct-img{
    position: relative; 
    width:400px;
    height:auto;
}

.start{
    margin-bottom:5px;
    width:60%;
    margin-left:20%;
}
.start:hover{
    border:2px solid purple;
    background-color: whitesmoke;
    color: purple;
}
.restart:hover{
    border:2px solid purple;
    background-color: whitesmoke;
    color: purple;
}
@media only screen and (max-width: 700px) {
    #title-bar{
        position: relative;
        width:100%;
        top:50px;
        font-size: 36px;
        text-align: center;
        margin:0px;
    }
    #correct-img{
        position: relative;
        width:60%;
        height:auto;
    }
    #content-block{
        font-size:20px;
    }
}
